

#btnAtras{
	-fx-background-image: url("atras.png");
	-fx-background-size: 55 55;
    -fx-background-repeat: no-repeat;
    -fx-background-position:center;   
    -fx-padding: 15px 10px 15px 10px;
   -fx-background-color: transparent ;
}

#btnActividades{
	-fx-background-image: url("actividades.png");
	-fx-background-size:200 200 ;
    -fx-background-repeat: no-repeat;
    -fx-background-position:center;   
    -fx-padding: 15px 10px 15px 10px;
   -fx-background-color: transparent ;
}
#btnActividadesSocio{
	-fx-background-image: url("verActividades.png");
	-fx-background-size:80 80 ;
    -fx-background-repeat: no-repeat;
    -fx-background-position:center;   
    -fx-padding: 15px 10px 15px 10px;
   -fx-background-color: transparent ;
}
#btnTerceros{
	-fx-background-image: url("terceros.png");
	-fx-background-size:200 200 ;
    -fx-background-repeat: no-repeat;
    -fx-background-position:center;   
    -fx-padding: 15px 10px 15px 10px;
   -fx-background-color: transparent ;
}

#btnSocios{
	-fx-background-image: url("Socios.png");
	-fx-background-size: 200 200;
    -fx-background-repeat: no-repeat;
    -fx-background-position:center;   
    
   -fx-background-color: transparent ;
}
#btnLibro{
	-fx-background-image: url("libroDiario.png");
	-fx-background-size: 200 200;
    -fx-background-repeat: no-repeat;
    -fx-background-position:center;   
    
   -fx-background-color: transparent ;
}
#btnCalendario{
	-fx-background-image: url("Calendario.png");
	-fx-background-size: 200 200;
    -fx-background-repeat: no-repeat;
    -fx-background-position:center;   
    
   -fx-background-color: transparent ;
}
#btnListados{
	-fx-background-image: url("listados.png");
	-fx-background-size: 200 200;
    -fx-background-repeat: no-repeat;
    -fx-background-position:center;   
    
   -fx-background-color: transparent ;
}
#btnAsociacion{
	-fx-background-image: url("asociacion.png");
	-fx-background-size: 200 200;
    -fx-background-repeat: no-repeat;
    -fx-background-position:center;   
    
   -fx-background-color: transparent ;
}
#btnAnadirSocio{
	-fx-background-image: url("anadirSocio.png");
	-fx-background-size: 100 100;
    -fx-background-repeat: no-repeat;
    -fx-background-position:center;   
    
   -fx-background-color: transparent ;
}
#btnElimSocio{
	-fx-background-image: url("eliminarSocio.png");
	-fx-background-size: 100 100;
    -fx-background-repeat: no-repeat;
    -fx-background-position:center;   
    
   -fx-background-color: transparent ;
}
#btnPagos{
	-fx-background-image: url("deudas.png");
	-fx-background-size: 100 100;
    -fx-background-repeat: no-repeat;
    -fx-background-position:center;   
    
   -fx-background-color: transparent ;
}
#btnVerSocio{
	-fx-background-image: url("verSocio.png");
	-fx-background-size: 100 100;
    -fx-background-repeat: no-repeat;
    -fx-background-position:center;   
    
   -fx-background-color: transparent ;
}
#btnGuardar{
	-fx-background-image: url("guardar.png");
	-fx-background-size: 100 100;
    -fx-background-repeat: no-repeat;
    -fx-background-position:center;   
    
   -fx-background-color: transparent ;
}
#btnExaminarFoto{
	-fx-background-image: url("examinar.png");
	-fx-background-size: 100 100;
    -fx-background-repeat: no-repeat;
    -fx-background-position:center;   
    
   -fx-background-color: transparent ;
}
#btnExaminarLOPD{
	-fx-background-image: url("examinar.png");
	-fx-background-size: 50 50;
    -fx-background-repeat: no-repeat;
    -fx-background-position:center;   
    
   -fx-background-color: transparent ;
}
#btnVerLOPD{
	-fx-background-image: url("Verpdf.png");
	-fx-background-size: 50 50;
    -fx-background-repeat: no-repeat;
    -fx-background-position:center;   
    
   -fx-background-color: transparent ;
}
#btnEditSocio{
	-fx-background-image: url("editarSocio.png");
	-fx-background-size: 80 80;
    -fx-background-repeat: no-repeat;
    -fx-background-position:center;   
    
   -fx-background-color: transparent ;
}
#btnFicha{
	-fx-background-image: url("tarjeta.png");
	-fx-background-size: 80 80;
    -fx-background-repeat: no-repeat;
    -fx-background-position:center;   
    
   -fx-background-color: transparent ;
}
#imgFoto{
	-fx-image: url("perfil.png");
}
.root {
        -fx-background-color:  azure;
        -fx-border-color: white;
        -fx-border-radius: 20;
        -fx-padding: 10 10 10 10;
        -fx-background-radius: 20;
       
}
.button {
    -fx-background-radius: 30, 30, 29, 28;
    -fx-padding: 3px 10px 3px 10px;
   -fx-background-color: gold;
}
 
.Label {
        -fx-fill: orangered;
}